$breakpoints-desktop-xl: 1920px;
$breakpoints-desktop-lg: 1440px;
$breakpoints-desktop: 1280px;
$breakpoints-laptop: 1024px;
$breakpoints-tablet: 768px;
$breakpoints-mobile: 360px;
$breakpoints-max-width: $breakpoints-desktop-xl;
$color-neutral-700: #1b1922;
$color-neutral-600: #242227;
$color-neutral-500: #323035;
$color-neutral-400: #3e3c45;
$color-neutral-300: #494654;
$color-neutral-200: #615c71;
$color-neutral-100: #efefef;
$color-lime-500: #E9ED28;
$color-violet-500: #7934FF;
$color-violet-600: #5D24CB;
$color-neutral-100-80: rgba(239, 239, 239, .8);
$color-neutral-100-40: rgba(239, 239, 239, .4);
$color-neutral-100-10: rgba(239, 239, 239, .1);
$color-surface-primary: $color-neutral-600;
$color-text-primary: $color-neutral-100;
$color-border-primary: $color-neutral-100-40;
$color-surface-contrast-secondary: $color-neutral-300;
$color-surface-contrast: $color-neutral-400;
$color-surface-secondary: $color-neutral-500;
$color-text-secondary-40: $color-neutral-100-40;
$color-border-secondary: $color-neutral-100;
$color-text-secondary: $color-neutral-100-80;
$gradient-violet-1: linear-gradient(61deg, #7934FF -.19%, #3E1984 99.81%);
$gradient-dark: linear-gradient(90deg, #3E3C45 100%, #494654 0%);
$numbers-16: 16px;
$numbers-12: 12px;
$numbers-8: 8px;
$numbers-4: 4px;
$font-size-xl: 32px;
$font-size-l: 24px;
$font-size-m: 20px;
$font-size-s: 16px;
$font-size-xs: 12px;
$bold: 700;
$regular: 400;
